.file-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.file-details__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.file-details__inner-wrapper > div {
  margin-left: 4px;
}

.file-after {
  min-height: 16px;
  padding-left: 20px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: left center;
}
