{#
/**
 * @file
 * Template for file details.
 *
 * Available variables:
 * wrapper_class - Adds a class at the top level of the element.
 * file_link - String containing text and url.
 * file_details - Array containing file details i.e. extension etc.
 * is_mime_icon-before - Boolean indicating icon mime selection before.
 * is_mime_icon-after - Boolean indicating icon mime selection before.
 * mime_icon_class_after - Contains classes to display file icon.
 * mime_modifier_class - Contains modifier class. To be used as a selector to add custom icons.
 * is_new_window - Boolean indicating is new window selection.
 */
#}

{% set inserted_class = wrapper_class|clean_class %}

<div class="{{ inserted_class }} {{ inserted_class }}--{{ mime_modifier_class }}">
  {% if file_link %}
    <div class="{{ inserted_class }}__link">
      {{ file_link }}
    </div>
  {% endif %}
  {% if file_details or mime_icon_class_after %}
    <div class="{{ inserted_class }}__wrapper">
      <div class="{{ inserted_class }}__inner-wrapper {{ mime_icon_class_after }}">
        {% if file_details %}
          {% for file_detail in file_details %}
            <div class="{{ inserted_class }}__{{ file_detail.type }}">
              <p>{{ file_detail.value }}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
